<div class="search">
  <form action="#" id="site_search" accept-charset="utf-8">
    <input type="search"  id="search_box"  placeholder="<%= __('search') %>">
  </form>
</div>
<ul id='search_result'>
</ul>
<script src="<%- config.root %>js/search.js"></script>    
<script src="<%- config.root %>js/lunr.min.js"></script>